@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-gray-800;
  }

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
  }
  :root {



    --background: 0 0% 100%;



    --foreground: 224 71.4% 4.1%;



    --card: 0 0% 100%;



    --card-foreground: 224 71.4% 4.1%;



    --popover: 0 0% 100%;



    --popover-foreground: 224 71.4% 4.1%;



    --primary: 220.9 39.3% 11%;



    --primary-foreground: 210 20% 98%;



    --secondary: 220 14.3% 95.9%;



    --secondary-foreground: 220.9 39.3% 11%;



    --muted: 220 14.3% 95.9%;



    --muted-foreground: 220 8.9% 46.1%;



    --accent: 220 14.3% 95.9%;



    --accent-foreground: 220.9 39.3% 11%;



    --destructive: 0 84.2% 60.2%;



    --destructive-foreground: 210 20% 98%;



    --border: 220 13% 91%;



    --input: 220 13% 91%;



    --ring: 224 71.4% 4.1%;



    --chart-1: 12 76% 61%;



    --chart-2: 173 58% 39%;



    --chart-3: 197 37% 24%;



    --chart-4: 43 74% 66%;



    --chart-5: 27 87% 67%;



    --radius: 0.5rem
  }
  .dark {



    --background: 224 71.4% 4.1%;



    --foreground: 210 20% 98%;



    --card: 224 71.4% 4.1%;



    --card-foreground: 210 20% 98%;



    --popover: 224 71.4% 4.1%;



    --popover-foreground: 210 20% 98%;



    --primary: 210 20% 98%;



    --primary-foreground: 220.9 39.3% 11%;



    --secondary: 215 27.9% 16.9%;



    --secondary-foreground: 210 20% 98%;



    --muted: 215 27.9% 16.9%;



    --muted-foreground: 217.9 10.6% 64.9%;



    --accent: 215 27.9% 16.9%;



    --accent-foreground: 210 20% 98%;



    --destructive: 0 62.8% 30.6%;



    --destructive-foreground: 210 20% 98%;



    --border: 215 27.9% 16.9%;



    --input: 215 27.9% 16.9%;



    --ring: 216 12.2% 83.9%;



    --chart-1: 220 70% 50%;



    --chart-2: 160 60% 45%;



    --chart-3: 30 80% 55%;



    --chart-4: 280 65% 60%;



    --chart-5: 340 75% 55%
  }
}

@layer components {
  .headerLink {
    @apply cursor-pointer text-lg font-light text-[#e5e5e5] grid place-items-center transition duration-[.4s] hover:text-[#b3b3b3];
  }

  .input {
    @apply w-full rounded bg-[#333333] px-5 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545];
  }

  .bannerButton {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }

  .modalButton {
    @apply flex h-11 w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10;
  }

  .membershipLink {
    @apply cursor-pointer text-blue-500 hover:underline;
  }

    
  .planBox {
    @apply relative mx-1.5 flex h-20 w-[calc(100%/3)] cursor-default items-center justify-center rounded-sm bg-[#06283D] font-semibold shadow after:absolute after:top-full after:left-1/2 after:block after:-translate-x-1/2 after:border-8 after:border-b-0 after:border-transparent after:border-t-[#e50914] after:content-[""] md:h-32 lg:mx-8;
  }

  /* Table */
  .tableRow {
    @apply flex flex-wrap items-center font-medium;
  }

  .tableDataTitle {
    @apply w-full p-2.5 text-center text-sm font-normal text-white md:w-2/5 md:p-3.5 md:text-left md:text-base;
  }

  .tableDataFeature {
    @apply w-[calc(100%/3)] p-2.5 text-center md:w-[calc(60%/3)] md:p-3.5;
  }

  /* MUI Menu */
  .menu {
    @apply md:hidden;
  }

  .menu .MuiPaper-root {
    @apply !absolute !left-0 !rounded-none !border !border-[gray] !bg-black !text-white;
  }

  .menu .MuiList-root {
    @apply !p-0;
  }

  .menu .MuiMenuItem-root {
    @apply !block !w-72 !py-3.5 !text-center !text-sm !font-light !text-[#b3b3b3] !transition !duration-200 first:cursor-default first:!font-normal first:!text-white hover:!bg-[#11100F];
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
